<h1><%= @forum.name %></h1>
<h2><%= @category.name %></h2>

<%= form_for @topic, :url => create_topic_path(@forum, @category) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %></h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>title: <%= f.text_field :title %></div>
  <div>content: <%= f.text_area :content %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>