<h1>Listing admin_topics</h1>

<table>
  <tr>
    <th>title</th>
    <th>content</th>
    <th>user</th>
    <th>operator</th>
  </tr>

<% @admin_topics.each do |admin_topic| %>
  <tr>
    <td><%= admin_topic.title %></td>
    <td><%= admin_topic.content %></td>
    <td><%= admin_topic.user.email %></td>
    <td><%= link_to 'Show', admin_topic %>
    <%= link_to 'Edit', edit_admin_topic_path(admin_topic) %>
    <%= link_to 'Destroy', admin_topic, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_admin_topic_path %>
