<%= form_for(@forum, :url => url) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this admin_forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>name: <%= f.text_field :name %></div>
  <div>url_name: <%= f.text_field :url_name %></div>
  <div>theme: <%= f.text_field :theme %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
