<h1>Listing forums</h1>

<% if flash[:notice] %>
<p class="alert"><%= flash[:notice] %></p>
<% end %>

<table class="table table-bordered table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>slug</th>
      <th>theme</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
  <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.name, details_admin_forum_path(forum) %></td>
      <td><%= forum.slug %></td>
      <td><%= forum.theme %></td>
      <td>
        <%= link_to 'Show', forum %>
        <%= link_to 'Edit', edit_admin_forum_path(forum) %>
        <%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Forum', new_admin_forum_path %>
