<h1>Listing users</h1>

<table class="table table-bordered table table-striped">
  <thead>
    <tr>
      <th>uuid</th>
      <th>email</th>
      <th>sign_in_count</th>
      <th>last_sign_in_at</th>
      <th>last_sign_in_ip</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.uuid%></td>
      <td><%= user.email%></td>
      <td><%= user.sign_in_count%></td>
      <td><%= user.last_sign_in_at%></td>
      <td><%= user.last_sign_in_ip%></td>
      <td>
        <%= link_to 'Show', user %> 
        <%= link_to 'Edit', edit_admin_user_path(user) %> 
        <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
</tbody>
<br />

<%#= link_to 'New User', new_admin_user_path %>
