<h1>Site setting</h1>
<div>
  subdomain : <%= @site.subdomain %>
</div><!-- / -->
<div>
  specifical_index : <%= @site.specifical_index %>
</div><!-- / -->
<div>
  forum : <%= @forum.name %>
</div><!-- / -->
<div>
  theme : <%= @site.theme %>
</div><!-- / -->
<%= link_to 'edit', '/sp-admin/site/edit' %>